header {
  color: #FFFFFF;
  background-color: #d4c900;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  height: 400px;
  padding: 1em;
  width: 100%;
  text-align: center;
  position: relative;
 }