 nav {
   color: #FFFFFF;
   background-color: #4056A1;
   height: 120px;
   padding: 1.5em;
   position: relative;
   z-index: 1030;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
   }