/* Laptops / Desktops: minimum width of 960px */
@media only screen and (min-width: 960px) {
  nav {
    width: 100%;
  }
  .flex-container {
    width: 100%;
    float: left;
  }

  .down-arrow {
    z-index: 5000;
  }
  
}

@media only screen and (max-width: 960px) {
  nav {
    background-color: #d4c900;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  }

  .flex-container {
    background-color: #d4c900;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    }
}


nav {
   color: #FFFFFF;
   background-color: #4056A1;
   height: 120px;
   padding: 1.5em;
   position: relative;
   z-index: 1030;
  }
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

.container {
  flex-direction: column;
}

.write-tweet {
  position: relative;
}

.down-arrow {
  color: #ffffff;
  position: relative;
  text-align: center;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding: 0 0 10px 0;
}

.down-arrow:hover {
  color: red;
}

.clearfix {
  clear:both;
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}