/* Laptops / Desktops: minimum width of 960px */
@media only screen and (min-width: 960px) {
  .new-tweet {
    width: 50%;
    float: right;
  }
}

.new-tweet {
  text-align: center;
  margin: 20px auto 40px;
  position: relative;
  width: 95%;
}

.new-tweet form > div {
  display: flex;
  justify-content: space-between;
}

/* compose tweet title */
/* .compose-tweet {
  text-align: left;
  position: relative;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* text box to enter the tweet */
.tweet-box {
  text-align: left;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  background-color: #f4f1ec;
  color: #545149;
  width: 100%;
  border-bottom: solid;
  border-color: #545149;
  border-bottom-width: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0 0 0;
  word-break: break-all;
  overflow-wrap: break-word;
}

.tweet-button {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056A1;
}

.counter {
  font-family: 'Bungee', cursive;
}

.overtweeted {
  color: red;
}

#new-tweet2 {
  display: none;
}

#error-msg {
  display: none;
  font-weight: bolder;
  vertical-align: middle;
  color: red;
  border: red;
  border-style: solid;
  text-align: center;
  margin: 20px auto 40px;
  position: relative;
  width: 95%;
}